<div class="grid">
  <div style="background-color: #023e8a" class="background col p-0 m-0">
    <div class="grid">
      <div
        class="col"
        style="
          color: whitesmoke;
          margin-top: 150px;
          font-size: larger;
          text-align: center;
        "
      >
        <h1>Lista de planes</h1>
        <p class="mb-8" style="font-size: larger">
          La mejor solución para tí, está en tus manos, está en FitYou.
        </p>
      </div>
    </div>
  </div>
</div>

<div style="display: flex; justify-content: end">
  <span class="m-5">Compara tus planes aquí!</span>
  <button
    [disabled]="this.plansForm.invalid"
    pButton
    class="m-3 p-3"
    (click)="comparePlans()"
    label="Comparar"
  ></button>
</div>

<div
  *ngIf="this.loading; else plansList"
  style="display: flex; justify-content: center"
>
  <p-progressSpinner></p-progressSpinner>
</div>

<ng-template #plansList class="m-5">
  <form
    [formGroup]="this.plansForm"
    class="card animate__animated animate__fadeIn"
  >
    <div class="card">
      <p-dataView
        #dv
        [value]="plans"
        [paginator]="true"
        [rows]="9"
        filterBy="name"
        [sortField]="sortField"
        [sortOrder]="sortOrder"
        layout="grid"
        filterBy="Title,price"
      >
        <ng-template pTemplate="header">
          <div class="flex flex-column md:flex-row md:justify-content-between">
            <p-dropdown
              [options]="sortOptions"
              placeholder="Sort By Price"
              (onChange)="onSortChange($event)"
              styleClass="mb-2 md:mb-0"
            ></p-dropdown>
            <span class="p-input-icon-left mb-2 md:mb-0">
              <i class="pi pi-search"></i>
              <input
                type="search"
                pInputText
                placeholder="Search by Name"
                (input)="dv.filter($any($event.target).value, 'contains')"
              />
            </span>
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
        </ng-template>
        <ng-template let-plan pTemplate="listItem">
          <div class="col-12">
            <div class="product-list-item">
              <!-- <img
                [src]="'assets/showcase/images/demo/plan/' + plan.image"
                [alt]="plan.name"
              /> -->
              <div class="product-list-detail">
                <div class="product-name">{{ plan.Title }}</div>
                <div class="product-description">{{ plan.Description }}</div>
                <i
                  *ngIf="plan.TypeOfPlan === 'I'"
                  class="pi pi-globe product-category-icon"
                  style="font-size: 30px"
                ></i>
                <i
                  *ngIf="plan.TypeOfPlan === 'C'"
                  class="pi pi-tablet product-category-icon"
                ></i>
                <i
                  *ngIf="plan.TypeOfPlan === 'T'"
                  class="pi pi-phone product-category-icon"
                ></i
                ><span class="product-category">{{ plan.category }}</span>
              </div>
              <div class="product-list-action">
                <span class="product-price">${{ plan.Price }}</span>
                <button
                  *ngIf="isUserLoggedIn"
                  (click)="showModalDialogDelete(plan.Id)"
                  pButton
                  icon="pi pi-trash"
                  class="p-button-danger"
                ></button>
                <span style="display: flex; justify-content: end">
                  <p-checkbox
                    name="{{ plan.Id }}"
                    (click)="changeValue(plan.Id)"
                    value="{{ plan.Id }}"
                    formControlName="plansToCompare"
                  ></p-checkbox>
                  <label class="ml-3" for="{{ plan.Id }}"
                    >Seleccione para comparar</label
                  >
                </span>
                <span
                  [class]="'product-badge status-' + plan.Title.toLowerCase()"
                  >{{ plan.Title }}</span
                >
              </div>
            </div>
          </div>
        </ng-template>

        <!-- Grid LIST -->

        <ng-template let-plan pTemplate="gridItem">
          <div class="col-12 md:col-4">
            <div class="product-grid-item card">
              <div class="product-grid-item-top">
                <div>
                  <i
                    *ngIf="plan.TypeOfPlan === 'I'"
                    class="pi pi-globe product-category-icon"
                    style="font-size: 40px"
                  ></i>
                  <i
                    *ngIf="plan.TypeOfPlan === 'C'"
                    class="pi pi-tablet product-category-icon"
                    style="font-size: 40px"
                  ></i>
                  <i
                    *ngIf="plan.TypeOfPlan === 'T'"
                    class="pi pi-phone product-category-icon"
                    style="font-size: 40px"
                  ></i>
                </div>
              </div>

              <div class="product-grid-item-content">
                <div class="product-name">{{ plan.Title }}</div>
                <br />
                <br />
                <div class="product-description">{{ plan.Description }}</div>
              </div>

              <div class="product-grid-item-bottom">
                <span class="product-price">${{ plan.Price }}</span>
              </div>

              <div class="product-grid-item-bottom">
                <span>
                  <p-checkbox
                    name="{{ plan.Id }}"
                    (click)="changeValue(plan.Id)"
                    value="{{ plan.Id }}"
                    formControlName="plansToCompare"
                  ></p-checkbox>
                  <label class="ml-3" for="{{ plan.Id }}"
                    >Seleccione para comparar</label
                  >
                </span>
                <p-button
                  icon="pi pi-list"
                  (click)="showModalDialog(plan.Id)"
                ></p-button>
                <button
                  *ngIf="isUserLoggedIn"
                  (click)="showModalDialogEdit(plan.Id)"
                  pButton
                  icon="pi pi-pencil"
                  class="p-button-info"
                ></button>
                <button
                  *ngIf="isUserLoggedIn"
                  (click)="showModalDialogDelete(plan.Id)"
                  pButton
                  icon="pi pi-trash"
                  class="p-button-danger"
                ></button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>

      <!-- Modal with plan details -->

      <p-dialog
        [(visible)]="displayModal"
        [modal]="true"
        [style]="{ width: '50vw' }"
        [baseZIndex]="10000"
        [draggable]="false"
        [resizable]="false"
      >
        <h1>{{ this.plan?.Title }}</h1>

        <hr />

        <dl class="row" style="font-size: 20px; margin-top: 10px">
          <dt class="col-sm-3">Descripción General:</dt>
          <dd class="col-sm-9">{{ this.plan?.Description }}</dd>

          <hr />
          <div class="row" *ngIf="this.plan?.TypeOfPlan === 'I'">
            <h2 style="color: darkblue">
              Plan de internet
              <i
                style="font-size: 30px"
                class="pi pi-globe product-category-icon"
              ></i>
            </h2>

            <br />

            <div class="mt-2 row">
              <dt class="col-sm-5">Más acerca del plan:</dt>
              <dd class="col-sm-7">{{ this.plan.Internet.Description }}</dd>
            </div>

            <div class="mt-2 row">
              <dt class="col-sm-5">Velocidad de subida:</dt>
              <dd class="col-sm-7">{{ this.plan.Internet.Uploadspeed }}</dd>
            </div>

            <div class="mt-2 row">
              <dt class="col-sm-5">Velocidad de bajada:</dt>
              <dd class="col-sm-7">{{ this.plan.Internet.Loweringspeed }}</dd>
            </div>

            <div class="mt-2 row">
              <dt class="col-sm-5">Velocidad promedio:</dt>
              <dd class="col-sm-7">{{ this.plan.Internet.Speed }}</dd>
            </div>

            <div class="mt-2 row">
              <dt class="col-sm-5">Velocidad de bajada:</dt>
              <dd class="col-sm-7">{{ this.plan.Internet.Loweringspeed }}</dd>
            </div>
          </div>

          <div class="row" *ngIf="this.plan?.TypeOfPlan === 'C'">
            <h5 style="color: darkred">
              Plan de Telecable
              <i
                style="font-size: 30px"
                class="pi pi-tablet product-category-icon"
              ></i>
            </h5>

            <br />

            <div class="mt-2 row">
              <dt class="col-sm-5">Más acerca del plan:</dt>
              <dd class="col-sm-7">{{ this.plan.Telecable.Description }}</dd>
            </div>

            <div class="mt-2 row">
              <dt class="col-sm-5">Canales disponibles:</dt>
              <dd class="col-sm-7">{{ this.plan.Telecable.Chanels }}</dd>
            </div>

            <div class="mt-2 row">
              <dt class="col-sm-5">Tipo de Telecable:</dt>
              <dd class="col-sm-7">
                {{ this.plan.Telecable.TypeOfTelecable }}
              </dd>
            </div>
          </div>

          <div class="row" *ngIf="this.plan?.TypeOfPlan === 'T'">
            <h5 style="color: darkgreen">
              Plan de Telefono
              <i
                style="font-size: 30px"
                class="pi pi-phone product-category-icon"
              ></i>
            </h5>

            <br />

            <div class="mt-2 row">
              <dt class="col-sm-5">Más acerca del plan:</dt>
              <dd class="col-sm-7">{{ this.plan.Telephone.Description }}</dd>
            </div>

            <div class="mt-2 row">
              <dt class="col-sm-5">Canales disponibles:</dt>
              <dd class="col-sm-7">{{ this.plan.Telephone.Minutes }}</dd>
            </div>

            <div class="mt-2 row">
              <dt class="col-sm-5">Tipo de Servicio telefonico:</dt>
              <dd class="col-sm-7">{{ this.plan.Telephone.Service }}</dd>
            </div>
          </div>
        </dl>

        <ng-template pTemplate="footer">
          <p-button
            icon="pi pi-times"
            (click)="displayModal = false"
            label="Ok"
          ></p-button>
        </ng-template>
      </p-dialog>

      <p-dialog
        header="Estas seguro?"
        [(visible)]="displayModalDelete"
        [modal]="true"
        [style]="{ width: '20vw' }"
        [baseZIndex]="10000"
        [draggable]="false"
        [resizable]="false"
      >
        <p class="p-m-0">Al borrar esto no hay vuelta atras</p>
        <ng-template pTemplate="footer">
          <button
            (click)="deletePlanById(this.plan.Id)"
            pButton
            icon="pi pi-trash"
            label="Borrar"
            class="p-button-danger"
          ></button>

          <button
            (click)="hideDeleteDialog()"
            pButton
            icon="pi pi-trash"
            label="Cancelar"
            class="p-button-info"
          ></button>
        </ng-template>
      </p-dialog>

      <p-dialog
        header="Editar plan"
        [(visible)]="displayModalDelete"
        [modal]="true"
        [style]="{ width: '20vw' }"
        [baseZIndex]="10000"
        [draggable]="false"
        [resizable]="false"
      >
        <p class="p-m-0">Al borrar esto no hay vuelta atras</p>
        <ng-template pTemplate="footer">
          <button
            (click)="deletePlanById(this.plan.Id)"
            pButton
            icon="pi pi-trash"
            label="Borrar"
            class="p-button-danger"
          ></button>

          <button
            (click)="hideDeleteDialog()"
            pButton
            icon="pi pi-trash"
            label="Cancelar"
            class="p-button-info"
          ></button>
        </ng-template>
      </p-dialog>

      <p-dialog
        header="Editar plan"
        [(visible)]="displayModalEdit"
        [modal]="true"
        [style]="{ width: '60vw' }"
        [baseZIndex]="10000"
        [draggable]="false"
        [resizable]="false"
      >
        <app-add-plan *ngIf="displayModalEdit" [isEditing]="true" [planToEdit]="this.plan"> </app-add-plan>

      </p-dialog>
    </div></form
></ng-template>
