<div class="grid">
  <div style="background-color: #023e8a" class="background col p-0 m-0">
    <div class="grid">
      <div
        class="col"
        style="
          color: whitesmoke;
          margin-top: 150px;
          font-size: larger;
          text-align: center;
        "
      >
        <h1>Manual de usuario</h1>
        <p class="mb-8" style="font-size: larger">
          La mejor solución para tí, está en tus manos, está en FitYou.
        </p>
      </div>
    </div>
  </div>
</div>

<p-card styleClass="p-card-shadow">
  <p-accordion>
    <p-accordionTab header="Inicio">
      <label for="trigger"> INICIO </label>
      <img
        src="https://raw.githubusercontent.com/JohnEspinal/FitYou-App/feature/helpapp/src/assets/img/home.png"
        alt="Imagen de Inicio"
      />

      <p class="card-text">
        Como se muestra en la imagen esta es la pagina de inicio en donde
        encontraremos información introductoria sobre lo que es FITYOU.
      </p>
      <img
        style="width: 30rem"
        class="card-img-top"
        src="https://raw.githubusercontent.com/JohnEspinal/FitYou-App/feature/helpapp/src/assets/img/home2.png"
        alt="Imagen de Inicio"
      />
      <p class="card-text">
        Como se muestra en la imagen esta una pequeña imagen con dos botones en
        el cual al presionar el botón de
        <strong> <b> "leer más.." </b></strong> => te redirige a la parte de
        aspectos generales de la visión de FITYOU y el otro el botón de
        <strong> <b>Comparar</b> </strong> el cual te redirige a la ventana en
        la cual tendrás la posibilidad de comparar planes a medida que estén en
        la app.
      </p>
      <img
        style="width: 30rem"
        class="card-img-top"
        src="https://raw.githubusercontent.com/JohnEspinal/FitYou-App/feature/helpapp/src/assets/img/home3.png"
        alt="Imagen de Inicio"
      />
      <p class="card-text">
        En esta parte del inicio se muestra lo que es la información general de
        la misma y lo que mayormente hacemos en base a
        <strong> <b> Conocer </b> </strong> los servicios que brindamos ,
        <strong> <b> Comparar </b> </strong> los planes que tenemos de las
        diferentes compañías y dar el paso a <strong> <b>Elegir</b> </strong> lo
        que es el Plan que mas te ha llamado la atención.
      </p>
      <img
        style="width: 30rem"
        class="card-img-top"
        src="https://raw.githubusercontent.com/JohnEspinal/FitYou-App/feature/helpapp/src/assets/img/home4.png"
        alt="Imagen de Inicio"
      />
      <p class="card-text">
        En la presente imagen se presenta lo que es una información a nivel de
        introducción de lo que hace la función de comparar y además incluye un
        botón el cual redirige a dicha página.
      </p>
      <img
        style="width: 30rem"
        class="card-img-top"
        src="https://raw.githubusercontent.com/JohnEspinal/FitYou-App/feature/helpapp/src/assets/img/home5.png"
        alt="Imagen de Inicio"
      />
      <p class="card-text">
        Este es un apartado el cual tiene como titulo conocer el cual te
        redirige si presionas el botón a la lista en donde se encuentran todos
        los planes que tenemos y puedes buscar el que mas se ajuste a tu
        disponibilidad y situación.
      </p>
      <img
        style="width: 30rem"
        class="card-img-top"
        src="https://raw.githubusercontent.com/JohnEspinal/FitYou-App/feature/helpapp/src/assets/img/home6.png"
        alt="Imagen de Inicio"
      />
      <p class="card-text">
        Este es el apartado para elegir en el cual se usa la herramienta de
        comparar planes lo que te permite tener una mejor visualización de ellos
        y así será más fácil realizar la elección final.
      </p>
    </p-accordionTab>
    <p-accordionTab header="Planes">
      <label for="Strigger"> Planes </label>
      <div>
        <img
          style="width: 30rem"
          class="card-img-top"
          src="https://raw.githubusercontent.com/JohnEspinal/FitYou-App/feature/helpapp/src/assets/img/listPlans.jpeg"
          alt="Imagen de Inicio"
        />
        <div class="col">
          <div class="row">
            <p class="card-text">
              En esta ventana podrán observar todos los planes que tienen
              disponibles las diferentes empresas con las que estamos asociados
              además de que podrán filtrar y organizar de la mejor manera que
              guste.
            </p>
          </div>
        </div>
        <p class="card-text">
          En esta ventana podrán observar todos los planes que tienen
          disponibles las diferentes empresas con las que estamos asociados
          además de que podrán filtrar y organizar de la mejor manera que guste.
        </p>
        <img
          style="width: 30rem"
          class="card-img-top"
          src="https://raw.githubusercontent.com/JohnEspinal/FitYou-App/feature/helpapp/src/assets/img/addPlan.jpeg"
          alt="Imagen de Inicio"
        />
        <p class="card-text">
          En este apartado podemos ver como podemos agregar plan de internet.
        </p>
        <img
          style="width: 30rem"
          class="card-img-top"
          src="https://raw.githubusercontent.com/JohnEspinal/FitYou-App/feature/helpapp/src/assets/img/addPlan2.jpeg"
          alt="Imagen de Inicio"
        />
        <p class="card-text">
          En este apartado podemos ver como podemos agregar plan de Telecable y
          además de que podemos ver como el texto se adapta a los diferentes
          planes que desea agregar el usuario.
        </p>

        <div class="row">
          <div class="col-9"></div>
          <a
            routerLink="/plans/all"
            class="col-3 mb-3 ml-3 btn btn-primary float-end"
            >Ir al listado de planes</a
          >
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Comparar">
      <label for="comparar"> Comparar </label>
      <div>
        <img
          style="width: 30rem"
          class="card-img-top"
          src="https://raw.githubusercontent.com/JohnEspinal/FitYou-App/feature/helpapp/src/assets/img/comparar.png"
          alt="Imagen de Inicio"
        />
        <p class="card-text">
          Esta ventana se utiliza para comparar planes que sean de su gusto y
          poder tener una mejor visualización de los mismos.
        </p>
      </div>
      <div class="row">
        <div class="col-9"></div>
        <a
          href="/plans/company"
          class="col-3 mb-3 ml-3 btn btn-primary float-end"
          >Ir a comparar</a
        >
      </div>
    </p-accordionTab>
    <p-accordionTab header="Acerca De">
      <label for="AcercaDe"> Acerca De </label>
      <div>
        <img
          style="width: 30rem"
          class="card-img-top"
          src="https://raw.githubusercontent.com/JohnEspinal/FitYou-App/feature/helpapp/src/assets/img/AcercaDe.png"
          alt="Imagen de Inicio"
        />
        <p class="card-text">
          Como se muestra en la imagen esto es una breve descripcion de la
          funcion de FITYOU.
        </p>
      </div>
      <div class="row">
        <div class="col-9"></div>
        <a href="/plans/about" class="col-3 mb-3 ml-3 btn btn-primary float-end"
          >Ir a Acerca De</a
        >
      </div>
    </p-accordionTab>
    <p-accordionTab header="Compañia">
      <label for="comp"> Compañia </label>
      <div>
        <img
          style="width: 30rem"
          class="card-img-top"
          src="https://raw.githubusercontent.com/JohnEspinal/FitYou-App/feature/helpapp/src/assets/img/company.png"
          alt="Imagen de Inicio"
        />

        <p class="card-text">
          Podemos visualizar en esta ventana la lista de compañias con la que
          esta asociado FITYOU.
        </p>
      </div>
      <div class="row">
        <div class="col-9"></div>
        <a
          href="/plans/company"
          class="col-3 mb-3 ml-3 btn btn-primary float-end"
          >Ir a la compañia</a
        >
      </div>
    </p-accordionTab>
    <p-accordionTab header="Mapa">
      <label for="Mapa"> Mapa </label>
      <div>
        <img
          style="width: 30rem"
          class="card-img-top"
          src="https://raw.githubusercontent.com/JohnEspinal/FitYou-App/feature/helpapp/src/assets/img/map.png"
          alt="Imagen de Inicio"
        />
        <p class="card-text">
          En la parte del mapa encontraras lo que es las diferentes sucursales
          las cuales puedes buscar en tiempo real también tiene la
          disponibilidad de darte la dirección más cercana para así trazar la
          ruta y que puedas llegar más fácilmente a la sucursal.
        </p>
      </div>
      <div class="row">
        <div class="col-9"></div>
        <a href="/map/map" class="col-3 mb-3 ml-3 btn btn-primary float-end"
          >Ir al Mapa</a
        >
      </div>
    </p-accordionTab>
  </p-accordion>
</p-card>
