<div class="grid">
  <div style="background-color: #023e8a" class="background col p-0 m-0">
    <div class="grid">
      <div
        class="col"
        style="
          color: whitesmoke;
          margin-top: 150px;
          font-size: larger;
          text-align: center;
        "
      >
        <h1>Soporte Tickets</h1>
        <p class="mb-8" style="font-size: larger">
          La mejor solución para tí, está en tus manos, está en FitYou.
        </p>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="myForm" class="grid justify-content-center p-5">
  <p-card header="Agregar Ticket a soporte" styleClass="p-card-shadow">
    <div>
      <hr />
      <div class="col-6">
        <label for="Title">Title</label>
        <div class="p-field">
          <input
            type="text"
            pInputText
            id="Title"
            formControlName="Title"
            required
            autofocus
          />
        </div>
      </div>
      <div class="col-6">
        <label for="Status">Status</label>
        <div class="p-field">
          <p-dropdown
            [options]="ticketDropDown"
            formControlName="Status"
            optionLabel="name"
            id="Status"
            optionValue="Status"
          ></p-dropdown>
        </div>
      </div>
      <div class="col-6">
        <label for="description">Description</label>
        <div class="p-field">
          <textarea
            id="description"
            pInputTextarea
            formControlName="Description"
            required
            rows="3"
            cols="40"
          ></textarea>
        </div>
      </div>
    </div>
    <p-button (click)="add()">Create</p-button>
  </p-card>
</form>
<!-- 
<pre class="ml-5">{{ this.myForm.value | json }}</pre> -->
