

<div id="footer" class="surface-200 mt-3 pt-3">
    <div class="grid">
        <div class="col-3 text-left ml-8">
            <div>
                <img src="assets/photos/john.png" width="100px" class=" border-circle">
                <br>
                <br>
                <span><strong>John Espinal</strong></span>
                <span>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ipsum dolor, euismod eget dapibus quis.
                    </p>
                </span>
            </div>
        </div>
        
        <div class="col-3 col-offset-1 text-left">
            <div>
                <img src="assets/photos/JoseMarte.jpeg" width="100px" class=" border-circle">
                <br>
                <br>
                <span><strong>Jose Marte</strong></span>
                <span>
                    <p>
                        Soy un ingeniero en sistema que le apasiona la programación y como esta puede desempeñar una labor en nuestra vida diaria.
                    </p>
                </span>
            </div>
        </div>
        
        <div class="col-3 col-offset-1 text-left">
            <div>
                <img src="assets/icons/programmer.png" width="100px" class=" border-circle">
                <br>
                <br>
                <span><strong>User</strong></span>
                <span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ipsum dolor, euismod eget dapibus quis.
                    </p>
                </span>
            </div>
        </div>
        
        <div class="col-3 col-offset-1 text-left ml-8">
            <div>
                <img src="assets/icons/programmer.png" width="100px" class=" border-circle">
                <br>
                <br>
                <span><strong>User</strong></span>
                <span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ipsum dolor, euismod eget dapibus quis.</p>
                </span>
            </div>
        </div>
        
        <div class="col-3 col-offset-1 text-left">
            <div>
                <img src="assets/icons/programmer.png" width="100px" class=" border-circle">
                <br>
                <br>
                <span><strong>User</strong></span>
                <span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ipsum dolor, euismod eget dapibus quis.
                    </p>
                </span>
            </div>
        </div>
        
        <div class="col-3 col-offset-1 text-left">
            <div>
                <img src="assets/icons/programmer.png" width="100px" class=" border-circle">
                <br>
                <br>
                <span><strong>User</strong></span>
                <span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ipsum dolor, euismod eget dapibus quis.                
                    </p>
                </span>
            </div>
        </div>
    </div>
</div>