<div id="footer" style="background-color: grey" class="surface-100 mt-2 pt-2">
  <div class="grid">
    <div class="col-3 col-offset-1 text-left ml-8">
      <div>
        <span
          ><strong
            >Compyright @FitYou 2022. Todos los derechos reservados.</strong
          ></span
        >
      </div>
    </div>

    <div class="col-3 col-offset-1 text-left">
      <div>
        <span><strong></strong></span>
      </div>
    </div>

    <div class="col-3 col-offset-1 text-left">
      <div>
        <a href="#navbar">
          <button
            style="background-color: #03045e"
            pButton
            pRipple
            type="button"
            label="Back to top"
            class="p-button-rounded"
          ></button>
        </a>
      </div>
    </div>
  </div>
</div>
