<div class="grid">
  <div style="background-color: #023e8a" class="background col p-0 m-0">
    <div class="grid">
      <div
        class="col"
        style="
          color: whitesmoke;
          margin-top: 150px;
          font-size: larger;
          text-align: center;
        "
      >
        <h1>Compara planes</h1>
        <p class="mb-8" style="font-size: larger">
          La mejor solución para tí, está en tus manos, está en FitYou.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- <p-toast></p-toast>

<button
  type="button"
  (click)="show()"
  pButton
  icon="pi pi-info-circle"
  label="Show"
></button> -->
<div class="card">
  <h5>Horizontal</h5>
  <p-splitter [style]="{ height: '300px' }" styleClass="p-mb-5">
    <ng-template pTemplate> Panel 1 </ng-template>
    <ng-template pTemplate>
      <div class="p-col p-d-flex p-ai-center p-jc-center">Panel 2</div>
    </ng-template>
  </p-splitter>
</div>
<div class="m-5">
  <div class="card">
    <p-dataView #dv [value]="plan" filterBy="name" layout="grid">
      <ng-template let-plan pTemplate="gridItem">
        <div class="p-col-12 p-md-4">
          <div class="plan-grid-item card">
            <div class="plan-grid-item-top">
              <span [class]="'plan-badge status-' + plan.Title.toLowerCase()">{{
                plan.Title
              }}</span>
            </div>
            <div class="plan-grid-item-content">
              <div class="plan-name">
                <i class="pi pi-phone p-md-4"></i>{{ plan.Title }}
              </div>
              <div class="m-5">
                <h4>{{ plan.price | currency: "RD$ " }}</h4>
              </div>
              <div class="plan-description">{{ plan.Description }}</div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
