<div class="grid">
  <div style="background-color: #023e8a" class="background col p-0 m-0">
    <div class="grid">
      <div
        class="col"
        style="
          color: whitesmoke;
          margin-top: 150px;
          font-size: larger;
          text-align: center;
        "
      >
        <h1>Compara planes</h1>
        <p class="mb-8" style="font-size: larger">
          La mejor solución para tí, está en tus manos, está en FitYou.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- <p-toast></p-toast>

<button
  type="button"
  (click)="show()"
  pButton
  icon="pi pi-info-circle"
  label="Show"
></button> -->
<div class="grid m-5 justify-content-center">
  <!-- <p-splitter [style]="{ height: '600px' }" styleClass="p-mb-5"> -->
    <p-card
    [header]="plan1[0]?.Title || ''"
    [subheader]="plan1[0]?.Description || ''"
    style="width: 40%;"
    class="m-4"
    styleClass="card"
  >
    <p-dataView #dv [value]="plan1" filterBy="name" layout="grid">
      <ng-template let-plan pTemplate="gridItem">

        <dl class="row" style="font-size: 18px;">

          <hr />
          <div class="row" *ngIf="this.plan1[0].TypeOfPlan === 'I'">

            <h2 style="color: darkblue;">Plan de internet <i
              style="font-size: 30px;"
              class="pi pi-globe product-category-icon"
            ></i></h2>

            <br/>

            <div class="mt-2 row">
              <dt class="col-sm-5">Más acerca del plan:</dt>
              <dd class="col-sm-7">{{ this.plan1[0].Internet.Description }}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Velocidad de subida:</dt>
              <dd class="col-sm-7">{{ this.plan1[0].Internet.Uploadspeed }}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Velocidad de bajada:</dt>
              <dd class="col-sm-7">{{ this.plan1[0].Internet.Loweringspeed}}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Velocidad promedio:</dt>
              <dd class="col-sm-7">{{ this.plan1[0].Internet.Speed }}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Velocidad de bajada:</dt>
              <dd class="col-sm-7">{{ this.plan1[0].Internet.Loweringspeed}}</dd>
            </div>

            <div class="mt-2 row">
              <dt class="col-sm-5">Compañia:</dt>
              <dd class="col-sm-7">{{ this.companyPlan1 }}</dd>
            </div>
          
          </div>


          <div class="row" *ngIf="this.plan1[0].TypeOfPlan === 'C'">

            <h5 style="color: darkred; ">Plan de Telecable <i
              style="font-size: 30px;"
              class="pi pi-tablet product-category-icon"
            ></i></h5>

            <br/>

            <div class="mt-2 row">
              <dt class="col-sm-5">Más acerca del plan:</dt>
              <dd class="col-sm-7">{{ this.plan1[0].Telecable.Description }}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Canales disponibles:</dt>
              <dd class="col-sm-7">{{ this.plan1[0].Telecable.Chanels }}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Tipo de Telecable:</dt>
              <dd class="col-sm-7">{{ this.plan1[0].Telecable.TypeOfTelecable}}</dd>
            </div>

            <div class="mt-2 row">
              <dt class="col-sm-5">Compañia:</dt>
              <dd class="col-sm-7">{{ this.companyPlan1 }}</dd>
            </div>
          
          </div>

          <div class="row" *ngIf="this.plan1[0].TypeOfPlan === 'T'">

            <h5 style="color: darkgreen;">Plan de Telefono <i
              style="font-size: 30px;"
              class="pi pi-phone product-category-icon"
            ></i></h5>

            <br/>

            <div class="mt-2 row">
              <dt class="col-sm-5">Más acerca del plan:</dt>
              <dd class="col-sm-7">{{ this.plan1[0].Telephone.Description }}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Canales disponibles:</dt>
              <dd class="col-sm-7">{{ this.plan1[0].Telephone.Minutes }}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Tipo de Servicio telefonico:</dt>
              <dd class="col-sm-7">{{ this.plan1[0].Telephone.Service }}</dd>
            </div>

            <div class="mt-2 row">
              <dt class="col-sm-5">Compañia:</dt>
              <dd class="col-sm-7">{{ this.companyPlan1 }}</dd>
            </div>
          
          </div>

        </dl>


      </ng-template>
    </p-dataView>
  </p-card>

  
  <p-card
    [header]="plan2[0]?.Title || ''"
    [subheader]="plan2[0]?.Description || ''"
    style="width: 40%;"
    class="m-4"
    styleClass="card"
  >
    <p-dataView #dv [value]="plan2" filterBy="name" layout="grid">
      <ng-template let-plan pTemplate="gridItem">

        <dl class="row" style="font-size: 18px;">

          <hr />
          <div class="row" *ngIf="this.plan2[0].TypeOfPlan === 'I'">

            <h2 style="color: darkblue;">Plan de internet <i
              style="font-size: 30px;"
              class="pi pi-globe product-category-icon"
            ></i></h2>

            <br/>

            <div class="mt-2 row">
              <dt class="col-sm-5">Más acerca del plan:</dt>
              <dd class="col-sm-7">{{ this.plan2[0].Internet.Description }}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Velocidad de subida:</dt>
              <dd class="col-sm-7">{{ this.plan2[0].Internet.Uploadspeed }}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Velocidad de bajada:</dt>
              <dd class="col-sm-7">{{ this.plan2[0].Internet.Loweringspeed}}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Velocidad promedio:</dt>
              <dd class="col-sm-7">{{ this.plan2[0].Internet.Speed }}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Velocidad de bajada:</dt>
              <dd class="col-sm-7">{{ this.plan2[0].Internet.Loweringspeed}}</dd>
            </div>

            <div class="mt-2 row">
              <dt class="col-sm-5">Compañia:</dt>
              <dd class="col-sm-7">{{ this.companyPlan2 }}</dd>
            </div>
          
          </div>


          <div class="row" *ngIf="this.plan2[0].TypeOfPlan === 'C'">

            <h5 style="color: darkred; ">Plan de Telecable <i
              style="font-size: 30px;"
              class="pi pi-tablet product-category-icon"
            ></i></h5>

            <br/>

            <div class="mt-2 row">
              <dt class="col-sm-5">Más acerca del plan:</dt>
              <dd class="col-sm-7">{{ this.plan2[0].Telecable.Description }}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Canales disponibles:</dt>
              <dd class="col-sm-7">{{ this.plan2[0].Telecable.Chanels }}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Tipo de Telecable:</dt>
              <dd class="col-sm-7">{{ this.plan2[0].Telecable.TypeOfTelecable}}</dd>
            </div>

            <div class="mt-2 row">
              <dt class="col-sm-5">Compañia:</dt>
              <dd class="col-sm-7">{{ this.companyPlan2 }}</dd>
            </div>
          
          </div>

          <div class="row" *ngIf="this.plan2[0].TypeOfPlan === 'T'">

            <h5 style="color: darkgreen;">Plan de Telefono <i
              style="font-size: 30px;"
              class="pi pi-phone product-category-icon"
            ></i></h5>

            <br/>

            <div class="mt-2 row">
              <dt class="col-sm-5">Más acerca del plan:</dt>
              <dd class="col-sm-7">{{ this.plan2[0].Telephone.Description }}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Canales disponibles:</dt>
              <dd class="col-sm-7">{{ this.plan2[0].Telephone.Minutes }}</dd>
            </div>
          
            <div class="mt-2 row">
              <dt class="col-sm-5">Tipo de Servicio telefonico:</dt>
              <dd class="col-sm-7">{{ this.plan2[0].Telephone.Service }}</dd>
            </div>

            <div class="mt-2 row">
              <dt class="col-sm-5">Compañia:</dt>
              <dd class="col-sm-7">{{ this.companyPlan2 }}</dd>
            </div>
          
          </div>

        </dl>


      </ng-template>
    </p-dataView>
  </p-card>
  <!-- </p-splitter> -->
</div>
